:root {
    --primary-color: #000000;
    --secondary-color: #131618;
    --border-color: #ff0000;
    --box-shadow: rgba(255, 255, 255, 0.5);
    --settings-background: #212529;
}

#background {
    z-index: -1;
    margin: 0;
    width: 100%;
    position: fixed;
}

html, body {
    height: 100%;
    background-color: var(--secondary-color);
}

#content {
    height: 91%;
    position: relative;
    top: 9%;
}

#start-page {
    float: right;
    width: 84%;
    padding-left: 1%;
    height: 98%;
    padding-top: 2%;
    scroll-behavior: smooth;
    overflow: scroll;
    display: inline;
    transition: width 0.3s ease-in-out;
}

#logo-button {
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0;
}

#logo {
    width: 100%;
    z-index: 1;
    height: 100%;
    position: relative;
    align-content: center;
}

#logo-button, #logo {
    grid-column: 1;
    grid-row: 1;
}

#logo-checkbox-container {
    display: grid;
    width: 10%;
    align-items: center; /* Align items vertically in the center */
    justify-content: center;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#filter-menu {
    position: absolute;
    float: right;
    width: 15%;
    height: 98%;
    border-right: 2px solid var(--primary-color);
    top: 0%;
    padding-top: 2%;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
}

header {
    width: 100%;
    height: 7%;
    background-color: var(--primary-color);
    display: flex;
    position: fixed;
    top: 0%;
    left: 0%;
    box-shadow: 0px 0px 10px 10px var(--primary-color);
    z-index: 5;
}

.search-bar {
    position: relative;
    height: 50%;
    width: 70%;
    top: 25%;
    left: 15%;
    margin: 0;
    box-shadow: 0 0 0 0rem var(--box-shadow);
    transition: box-shadow .15s ease-in-out;
}

.search-bar:focus {
    box-shadow: 0 0 0 0.25rem var(--box-shadow) !important;
}

#search-bar-container {
    width: 65%;
}

#user-info {
    display: flex;
    width: 25%;
}

#sign-in {
    position: relative;
    color: white;
    height: 50%;
    top: 25%;
    width: 30%;
    padding: 0%;
    font-size: 1.2vw;
    margin-right: 5%;
    white-space: nowrap;
    border-color: var(--secondary-color);
}

#sign-in:hover{
    background-color: var(--secondary-color);
}

#profile {
    height: 100%;
    width: auto;
}

#settings {
    height: 100%;
    width: auto;
    filter: invert(100%);
}

.game {
    width: 40%;
    background: black;
    border-radius: 2vw;
    border: none;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    scale: 100%;
    aspect-ratio: 4/2;
}

.game:hover {
    border: var(--primary-color) solid;
    scale: 105%;
}

.game-name {
    background: rgba(0, 0, 0, 0.82);
    position: absolute;
    top: 80%;
    padding-left: 2%;
    color: white;
    margin: 0;
    height: 20%;
    font-size: 2vw;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.video {
    top: -75%;
    position: relative;
    width: 100%;
}

.login-form {
    position: fixed;
    height: 0%;
    width: 100%;
    top: 0%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.66);
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}
h2{
    padding-top: 1.5rem;
}
a{
    color: #333;
}
a:hover{
    color: #da5767;
    text-decoration: none;
}
.card{
    border: 0.40rem solid #f8f9fa;
    top: 10%;
}
.form-control{
    background-color: #f8f9fa;
    padding: 20px;
    padding: 25px 15px;
    margin-bottom: 1.3rem;
}

.form-control:focus {

    color: #000000;
    background-color: #ffffff;
    border: 3px solid #da5767;
    outline: 0;
    box-shadow: none;

}

.btn1{
    padding: 0.6rem 1.2rem;
    background: #da5767;
    border: 2px solid #da5767;
}
.btn-primary1:hover {


    background-color: #df8c96;
    border-color: #df8c96;
    transition: .3s;

}

.form-control1{
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
}